.card {
    width: 100%;
    height: 250px;
    border-radius: 7px;
    background-color: rgb(30, 33, 37);
    border: none;
    max-width: 450px;
    position: relative;
  
    &:hover .close-icon {
      visibility: visible;
    }
  }
  
  .card-name {
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0 0 15px;
    color: rgb(249, 237, 237);
    margin: 0;
  }
  
  .card-description {
    font-size: 13px;
    padding: 10px 0 0 15px;
    color: rgb(249, 237, 237);
    height: 170px;
    margin: 0;
  }
  
  .card-date {
    font-size: 12px;
    padding: 10px 0 0 15px;
    color: rgb(249, 237, 237);
    margin: 0;
  }
  
  .close-icon {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: black;
    border-radius: 50%;
    font-size: 22px !important;
    transition: all ease-in-out;
    position: absolute;
    right: -10px;
    top: -10px;
    visibility: hidden;
  }
  
  .edit-icon {
    position: absolute;
    right: 40px;
    bottom: 10px;
    font-size: 25px;
    margin-right: 10px;
    margin-top: 10px;
    color: rgb(249, 237, 237);
    cursor: pointer;
    background-color: black;
    border-radius: 50%;
    padding: 4px;
  
    &:hover {
      padding: 6px;
    }
  }
  
  .star-icon {
    position: absolute;
    right: 2px;
    bottom: 10px;
    font-size: 25px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: black;
    border-radius: 50%;
    padding: 4px;
    color: white;
  
    &.stared {
      color: yellow;
    }
  
    &:hover {
      padding: 6px;
    }
  }
  